.main-button{
    background-color: darkblue;
    border-radius: 15px;
    box-shadow: 1px solid white;
}
.button{
    position: absolute;
    left: 52%;
    background-color: darkblue;
    border-radius: 15px;
    box-shadow: 1px solid white;
    bottom: 5%;
}
h3{
    font-family: 'Bebas Neue', cursive;
}
.shop-cart{
    position: absolute;
    margin-top: -30%;
    margin-left: 40%;
    width: 100%;
    max-width: 550px;
    height: auto;
}
.step img {
    float: left;
    width: 100px;
    height: 100px;
  }
  .step h6, p {
    position: relative;
    top: 18px;
    left: 10px;
  }
  